{% include "header.html" %}
<h1> This is your image</h1>

<img class="image" src="{{ image_path }}" alt="Something went wrong, please try again">

<form name="Number-of-Colors" action="" method="POST">
    <label>How many colors do you want to extract?</label>
        <select name="amount" class="Input">
              {% for number in range(1, 11): %}
              <option value="{{ number }}">{{ number }}</option>
              {% endfor %}
        </select>
    <input type="submit" value ="OK">
</form>



{% include "footer.html" %}