{% include "header.html" %}
<h1> This is your image</h1>

<img class="image" src="{{ image_path }}" alt="Something went wrong, please try again">

<form name="Number-of-Colors" action="" method="POST">
    <label>How many colors do you want to extract?</label>
        <select name="amount" class="Input">
              {% for number in range(1, 11): %}
              <option value="{{ number }}">{{ number }}</option>
              {% endfor %}
        </select>
    <input type="submit" value ="OK">
</form>

{% if palette: %}
    <h1> This is your color palette</h1>
    <div class="container-fluid">
        <div class="row colors">
            {% for color in colors %}
            <div class="col">
            <div class="card">
                <div class="card-body" style="background-color:rgb{{ color }}">
                <h5 class="card-title">rgb</h5>
                <h5>{{ color }}</h5>
                </div>
            </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endif %}



{% include "footer.html" %}